extends layout 
block content 

    main(class="bg-gray-100 text-gray-800")
        section(class="px-6 lg:max-w-4xl xl:max-w-6xl mx-auto pt-8 lg:pt-36 grid lg:grid-cols-2 gap-4 lg:gap-8") 
            article(class="space-y-4")
                h2(class="font-semibold text-3xl lg:text-5xl") Lorem ipsum dolor sit amet.
                div(class="flex gap-4")
                    p(class="text-orange-500") Olympics
                    p 4 min read
                img(src="https://images.unsplash.com/photo-1570498839593-e565b39455fc?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="" class="aspect-video object-cover rounded-lg")
                    //- Author
                div(class="flex gap-2 items-center") 
                    img(src="https://images.unsplash.com/photo-1575846171058-979e0c211b54?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="Author image" class="w-12 h-12 rounded-full object-cover")
                    p John Doe
            div(class="space-y-8")   
                article(class="space-y-4")
                    h2(class="font-semibold text-xl") Lorem ipsum dolor sit amet.
                    div(class="flex gap-4")
                        p(class="text-orange-500") Olympics
                        p 4 min read
                    img(src="https://images.unsplash.com/photo-1570498839593-e565b39455fc?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="" class="aspect-video object-cover rounded-lg")
                    //- Author
                    div(class="flex gap-2 items-center") 
                        img(src="https://images.unsplash.com/photo-1575846171058-979e0c211b54?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="Author image" class="w-12 h-12 rounded-full object-cover")
                        p John Doe

                article(class="space-y-4")
                    h2(class="font-semibold text-xl") Lorem ipsum dolor sit amet.
                    div(class="flex gap-4")
                        p(class="text-orange-500") Olympics
                        p 4 min read
                    img(src="https://images.unsplash.com/photo-1570498839593-e565b39455fc?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="" class="aspect-video object-cover rounded-lg")
                    //- Author
                    div(class="flex gap-2 items-center") 
                        img(src="https://images.unsplash.com/photo-1575846171058-979e0c211b54?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="Author image" class="w-12 h-12 rounded-full object-cover")
                        p John Doe

                article(class="space-y-4")
                    h2(class="font-semibold text-xl") Lorem ipsum dolor sit amet.
                    div(class="flex gap-4")
                        p(class="text-orange-500") Olympics
                        p 4 min read
                    img(src="https://images.unsplash.com/photo-1570498839593-e565b39455fc?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="" class="aspect-video object-cover rounded-lg")
                    //- Author
                    div(class="flex gap-2 items-center") 
                        img(src="https://images.unsplash.com/photo-1575846171058-979e0c211b54?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="Author image" class="w-12 h-12 rounded-full object-cover")
                        p John Doe

                article(class="space-y-4")
                    h2(class="font-semibold text-xl") Lorem ipsum dolor sit amet.
                    div(class="flex gap-4")
                        p(class="text-orange-500") Olympics
                        p 4 min read
                    img(src="https://images.unsplash.com/photo-1570498839593-e565b39455fc?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="" class="aspect-video object-cover rounded-lg")
                    //- Author
                    div(class="flex gap-2 items-center") 
                        img(src="https://images.unsplash.com/photo-1575846171058-979e0c211b54?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="Author image" class="w-12 h-12 rounded-full object-cover")
                        p John Doe

